/* .card{
    border-radius: 20px;
    border: 3px solid rgb(0, 89, 255);
    width:500px !important;
}
.form-control{
    border: 3px solid rgb(0, 183, 255);
}
.btn{
    width:447px;
}
.hd{
    font-weight: "900"; 
    font-family: "Fira Sans";
    text-align:"center";
} */